
:root {
    --darkYellow: #F6BE00;
    --blue: #1e90ff;
    --white: rgba(0, 0, 0, 0.1);
    --black: rgb(0, 0, 0);
    --light-blue: rgba(30, 144, 255, 0.65)
}

body {
    background-color: var(--blue);
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container {
   padding-inline: 20px;
}

.transaction-history {
    background-color: var(--darkYellow);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.transaction-history table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    color: black;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}

.transaction-history table, .transaction-history th, .transaction-history td {
    border: 1px solid var(--black);


}

.transaction-history th, .transaction-history td {
    padding: 10px;
    text-align: center;
}

.transaction-form {
    background-color: var(--darkYellow);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.deposit{
    margin-bottom: 20px;
}

.form-group {
    width: 100%;
    display: flex;
    gap: 0.5rem;
}

.input-group {
    width: 100%;
}

.form-input {
    box-sizing: border-box;
    line-height: 1.5rem;
    color: black;
    height: 2.5rem;
    font-size: 1rem;
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    border: solid 2px #007acc;

}

.deposit-form, .withdraw-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.btn-submit {
    cursor: pointer;
    height: 2.5rem;
    font-size: 1rem;
    padding: 0.3rem 1rem;
    background-color: #b3e0ff;
    border: solid 2px #007acc;
    border-radius: 0.5rem;
    color: #007acc;
    width: 100%;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #007acc;
    color: white;
}

.btn-transfer {
    margin-top: 1rem;
}

.transfer {
    margin-top: 1rem;
}
#emailButton{
    float: right;
    margin-top: 45px;
    margin-right: 50px;
}
#myButton{
    display: block;

    background-color: #007acc;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px white;

}
#myButton:hover{
    background-color: darkblue;
}
.emailContainer{
    margin-top: 20px;
}





