<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Money Ordering Action</title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
<div class="container">
    <div class="transaction-history">
        <h2>Transaction History</h2>
        <table>
            <thead>
            <tr>
                <th>Date</th>
                <th>Transaction Type</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <!-- Rows for transaction history will be fetched from the database -->
            </tbody>
        </table>
    </div>
</div>
<div class="container">
    <div class="transaction-form deposit">
        <h2>Deposit Money</h2>
        <div class="">
            <form class="depositContent">
                <label for="fromUserDeposit">From User</label>
                <select id="fromUserDeposit">
                    <!-- Options will be populated from the database -->
                </select>
                <label for="amountDeposit">Amount</label>
                <input type="number" id="amountDeposit" required>
                <button type="submit">Deposit</button>
            </form>
        </div>

    </div>
    <div class="transaction-form withdraw">
        <h2>Withdraw Money</h2>
        <form>
            <label for="fromUserWithdraw">From User</label>
            <select id="fromUserWithdraw">
                <!-- Options will be populated from the database -->
            </select>
            <label for="amountWithdraw">Amount</label>
            <input type="number" id="amountWithdraw" required>
            <button type="submit">Withdraw</button>
        </form>
    </div>
</div>
<script type="module" src="/js/clientConfig.js"></script>
<script type="module" src="/js/dashboard.js"></script>
</body>
</html>
